<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
       <div class="col-md-2">
          Sífilis Congenita
       </div>
       <div class="col-md-2">
          Sífilis em adultos
       </div>
       <div class="col-md-2">
          Sífilis em gestante
       </div>
   </div>
   <div class="col-md-1">
   </div>
</div>
<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
       <div class="col-md-2 congenita"><p> </p></div>
       <div class="col-md-2 adultos"><p> </p></div>
       <div class="col-md-2 gestante"><p> </p></div>
   </div>
   <div class="col-md-1">
   </div>
</div>

<div class="row clean"></div>

<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
       <div id='treemap' class='treemap'></div>
   </div>
   <div class="col-md-1">
   </div>
</div>
