<div class="row margin">
    <div class="row margin">
        <div class="col-md-1"></div>
        <div class="col-md-8">
            Visualizar e analisar a quantidade de casos de surto de uma determinada epidemia, comparar em diferentes escalas temporais a incidência de cada doença e a unidade notificadora da doença (bairro), analisar a estatística usando diferentes técnicas de visualização, temporal, espacial entre outras, relacionando os valores de uma alteração da quantidade de casos, através do tempo e do espaço da doença.
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row margin">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div id="map_div"></div>
      </div>
      <div class="col-md-4">

      </div>
   </div>
   <div class="row margin">
       <div class="col-md-1"></div>
       <div class="col-md-9">
          <div id="chart_div"></div>
       </div>
   </div>
</div>
