
<BR/>
<table class="table table-striped">
    <thead>
    <tr>
      <td></td>
      <td>groupId</td>
      <td>name</td>
      <td>creationDate</td>
      <td>groupSettings</td>
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let gif of list">
          <td><input type="button" (click)="remove(gif.groupId)" value="del"></td>
          <td>{{gif.groupId}}</td>
          <td>{{gif.name}}</td>
          <td>{{gif.creationDate}}</td>
          <td>{{gif.groupSettings!.bike}}</td>
      </tr>
    </tbody>
</table>
