<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
     <canvas baseChart
               [datasets]="radarChartData"
               [labels]="radarChartLabels"
               [chartType]="radarChartType"
               (chartHover)="chartHovered($event)"
               (chartClick)="chartClicked($event)"></canvas>
   </div>
   <div class="col-md-4" style="margin-bottom: 10px">
     <table class="table table-responsive table-condensed">
       <tr>
         <th>[Janeiro~Julho]</th>
         <th *ngFor="let label of radarChartLabels">{{label}}</th>
       </tr>
       <tr *ngFor="let d of radarChartData">
         <th>{{d.label}}</th>
         <td *ngFor="let label of radarChartLabels; let j=index">{{d && d.data[j]}}</td>
       </tr>
     </table>
     <button (click)="randomize()">Gerar</button>
   </div>
   <div class="col-md-1">
   </div>
</div>
