
<!-- Term: <input type="text" #searchText (input)="search(searchText.value)">-->
<BR/>
<table class="table table-striped">
    <thead>
    <tr>
      <td>Doença</td>
      <td>Casos</td>
      <td>Ano</td>
      <td>Alvorada</td>
      <td>Araras</td>
      <td>Autódromo</td>
      <td>Bela Vista</td>
      <td>Belvedere</td>
      <td>Boa Vista</td>
      <td>Bom Pastor</td>
      <td>Bom Retiro</td>
      <td>Campestre</td>
      <td>Centro</td>
      <td>Cristo Rei</td>
      <td>Desbravador</td>
      <td>Dom Gerônimo</td>
      <td>Dom Pascoal</td>
      <td>Efapi</td>
      <td>Eldorado</td>
      <td>Engenho Braun</td>
      <td>Esplanada</td>
      <td>Fronteira Sul</td>
      <td>Industrial</td>
      <td>Jardim América</td>
      <td>Jardim Europa</td>
      <td>Jardim Itália</td>
      <td>Jardins</td>
      <td>Lajeado</td>
      <td>Líder</td>
      <td>Maria Goretti</td>
      <td>Monte Belo</td>
      <td>Palmital</td>
      <td>Paraíso</td>
      <td>Parque das Palmeiras</td>
      <td>Passo dos Fortes</td>
      <td>Pinheirinho</td>
      <td>Presidente Médici</td>
      <td>Progresso</td>
      <td>Quedas do Palmital</td>
      <td>SAIC</td>
      <td>Santa Maria</td>
      <td>Santa Paulina</td>
      <td>Santo Antônio</td>
      <td>Santos Dummond</td>
      <td>São Cristóvão</td>
      <td>São Lucas</td>
      <td>São Pedro</td>
      <td>Seminário</td>
      <td>Trevo</td>
      <td>Universitário</td>
      <td>Vila Real</td>
      <td>Vila Rica</td>
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let gif of json">
          <td>{{gif.doenca}}</td>
          <td>{{gif.casos}}</td>
          <td>{{gif.ano}}</td>
          <td>{{gif.Alvorada}}</td>
          <td>{{gif.Araras}}</td>
          <td>{{gif.Autodromo}}</td>
          <td>{{gif.BelaVista}}</td>
          <td>{{gif.Belvedere}}</td>
          <td>{{gif.BoaVista}}</td>
          <td>{{gif.BomPastor}}</td>
          <td>{{gif.BomRetiro}}</td>
          <td>{{gif.Campestre}}</td>
          <td>{{gif.Centro}}</td>
          <td>{{gif.CristoRei}}</td>
          <td>{{gif.Desbravador}}</td>
          <td>{{gif.DomGeronimo}}</td>
          <td>{{gif.DomPascoal}}</td>
          <td>{{gif.Efapi}}</td>
          <td>{{gif.Eldorado}}</td>
          <td>{{gif.EngenhoBraun}}</td>
          <td>{{gif.Esplanada}}</td>
          <td>{{gif.FronteiraSul}}</td>
          <td>{{gif.Industrial}}</td>
          <td>{{gif.JardimAmerica}}</td>
          <td>{{gif.JardimEuropa}}</td>
          <td>{{gif.JardimItalia}}</td>
          <td>{{gif.Jardins}}</td>
          <td>{{gif.Lajeado}}</td>
          <td>{{gif.Lider}}</td>
          <td>{{gif.MariaGoretti}}</td>
          <td>{{gif.MonteBelo}}</td>
          <td>{{gif.Palmital}}</td>
          <td>{{gif.Paraiso}}</td>
          <td>{{gif.ParquedasPalmeiras}}</td>
          <td>{{gif.PassodosFortes}}</td>
          <td>{{gif.Pinheirinho}}</td>
          <td>{{gif.PresidenteMedici}}</td>
          <td>{{gif.Progresso}}</td>
          <td>{{gif.QuedasdoPalmital}}</td>
          <td>{{gif.SAIC}}</td>
          <td>{{gif.SantaMaria}}</td>
          <td>{{gif.SantaPaulina}}</td>
          <td>{{gif.SantoAntonio}}</td>
          <td>{{gif.SantosDummond}}</td>
          <td>{{gif.SaoCristovao}}</td>
          <td>{{gif.SaoLucas}}</td>
          <td>{{gif.SaoPedro}}</td>
          <td>{{gif.Seminario}}</td>
          <td>{{gif.Trevo}}</td>
          <td>{{gif.Universitario}}</td>
          <td>{{gif.VilaReal}}</td>
          <td>{{gif.VilaRica}}</td>
      </tr>
    </tbody>
</table>
