
<!-- Term: <input type="text" #searchText (input)="search(searchText.value)">-->
<BR/>
<table class="table table-striped">
    <thead>
    <tr>
      <td>Doença</td>
      <td>Casos</td>
      <td>Ano</td>
      <td>Janeiro</td>
      <td>Fevereiro</td>
      <td>Março</td>
      <td>Abril</td>
      <td>Maio</td>
      <td>Junho</td>
      <td>Julho</td>
      <td>Agosto</td>
      <td>Setembro</td>
      <td>Outubro</td>
      <td>Novembro</td>
      <td>Dezembro</td>
    </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let gif of json">
          <td>{{gif.doenca}}</td>
          <td>{{gif.casos}}</td>
          <td>{{gif.ano}}</td>
          <td>{{gif.jan}}</td>
          <td>{{gif.fev}}</td>
          <td>{{gif.mar}}</td>
          <td>{{gif.abr}}</td>
          <td>{{gif.mai}}</td>
          <td>{{gif.jun}}</td>
          <td>{{gif.jul}}</td>
          <td>{{gif.ago}}</td>
          <td>{{gif.set}}</td>
          <td>{{gif.out}}</td>
          <td>{{gif.nov}}</td>
          <td>{{gif.dez}}</td>
      </tr>
    </tbody>
</table>
