<div style="text-align:center">
  <!---img [src]="fullImagePath" >
  <img [src]="fullImagePath2" width="10%" -->
</div>
<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li (click)="setActive('inicio')" class="{{getActive('inicio')}}" class="active"><a [routerLink]="'inicio'">HOME  <span class="sr-only">(current)</span></a></li>
        <li (click)="setActive('grafico')" class="{{getActive('grafico')}}"><a [routerLink]="'grafico'">Doughnut</a></li>
        <li (click)="setActive('grafico2')" class="{{getActive('grafico2')}}"><a [routerLink]="'grafico2'">Radar</a></li>
        <li (click)="setActive('grafico3')" class="{{getActive('grafico3')}}"><a [routerLink]="'grafico3'">Line</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
