<div style="text-align:center">
  <!---img [src]="fullImagePath" >
  <img [src]="fullImagePath2" width="10%" -->
</div>
<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li *ngIf="!checkLogin()" (click)="setActive('login')" class="{{getActive('login')}}"><a [routerLink]="'modelo'">Login</a></li>
        <li *ngIf="checkLogin()" (click)="setActive('login');logoff()" class="{{getActive('login')}}"><a [routerLink]="'modelo'">Logout</a></li>
        <li *ngIf="checkLogin()" (click)="setActive('dashboard')" class="{{getActive('dashboard')}}"><a [routerLink]="'dashboard'">Dashboard</a></li>
        <li *ngIf="checkLogin()" (click)="setActive('warning')" class="{{getActive('warning')}}"><a [routerLink]="'warning'">Acompanhamento</a></li>
        <li *ngIf="checkLogin() && checkAdmin()" (click)="setActive('casos')" class="{{getActive('casos')}}"><a [routerLink]="'casos'">Cadastro Casos</a></li>
        <li *ngIf="checkLogin() && checkAdmin()" (click)="setActive('import')" class="{{getActive('import')}}"><a [routerLink]="'import'">Importar Plan.</a></li>
        <!--li (click)="setActive('modelo')" class="{{getActive('modelo')}}"><a [routerLink]="'modelo'">Modelo</a></li-->
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
