.row {
    margin-right: 0px !important;
    margin-left: 15px;
}
.navbar-custom{
   color:#fff;
   background: #2E8B57;
   background-color: #2E8B57;
}
.navbar-custom a{
   color:#fff;
}
.active{
   color:#fff;
   background: #8FBC8F;
   background-color: #8FBC8F;
}
.active a:hover{
   background: #8FBC8F;
   background-color: #8FBC8F;
}
.active a:active{
   background: #8FBC8F;
   background-color: #8FBC8F;
}
.active a:visited{
   background: #8FBC8F;
   background-color: #8FBC8F;
}
.not{
    color:#fff;
    background: #2E8B57;
    background-color: #2E8B57;
}
td, th {
    text-align: center !important;
}
