<div class="row">
   <div class="col-md-2">

   </div>
   <div class="col-md-6">
      <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item">
             <input type="button" (click)="get()" value="Atualizar">
             <input type="button" (click)="add()" value="add Caso">
             <input type="button" (click)="add(100)" value="add 100 Casos">
             {{result_s}}
            </li>
            <li class="list-group-item">
                 idUnidade<input type="text" [(ngModel)]="idUnidade">
                 idPessoa<input type="text" [(ngModel)]="idPessoa">
            </li>
            <li class="list-group-item">
                 Unidade<input type="text" [(ngModel)]="unidade">
                 Bairro<input type="text" [(ngModel)]="bairro">
            </li>
            <li class="list-group-item">
                 Data Transmição<input type="text" [(ngModel)]="dataTransmicao">
                 Data Registro<input type="text" [(ngModel)]="dataRegistro">
            </li>
            <li class="list-group-item">
                 Sexo<input type="text" [(ngModel)]="sexo">
                 Doença<input type="text" [(ngModel)]="doenca">
            </li>
          </ul>
      </div>
   </div>
   <div class="col-md-2">
   </div>
</div>
<div class="row">
   <div class="col-md-2">

   </div>
   <div class="col-md-6">
    
   </div>
   <div class="col-md-2">
   </div>
</div>
