<div class="row">
    <div class="col-md-1">
      <input *ngIf="checkAdmin()" type="button" (click)="get()" value="Atualizar">
    </div>
    <div class="col-md-10">
         <div id="timeline" class="space"><b>Número de casos</b><br><br></div>
         <div id="timelog" class="space"><b>Previsão</b><br><br></div>
         <div id="barMulta" class="space"><b>Número de casos por doença</b>
          <br><br></div>
         <div id="barchart" class="space"><b>Composição do total de casos por doença</b><br><br></div>
         <!-- div id="barUnidades" class="space"><b>Composição do total de casos por bairro</b> <br><br></div -->
    </div>
</div>
