<div class="row">
   <div class="col-md-2">
      <a href="https://docs.google.com/spreadsheets/d/{{planilha}}" target="_blank">Planilha de Importação</a>
      <br>
   </div>
   <div class="col-md-6">
        Planilha:<input type="text" [(ngModel)]="planilha"><br>
        Range:<input type="text" [(ngModel)]="term">
        <button type="button" id="Load"  (click)="Loadx()">Carregar Planilha</button>
        <button type="button" id="Reload"  (click)="save()">Salvar Importação</button>{{result_s}}

        <app-filter-list [list]="list"></app-filter-list>
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row" style="margin-top: 10px">

</div>
