<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <div class="col-md-4" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th></th>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <th>{{d.label}}</th>
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">Gerar</button>
      Gráfico:<button (click)="randomizeType('line')" style="display: inline-block">Linhas</button>
      <button (click)="randomizeType('bar')" style="display: inline-block">Barras</button>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
          <app-filter-list [gifs]="gifs"></app-filter-list>
  </div>
  <div class="col-md-1">
  </div>
</div>
