<div class="row">
 <div class="col-md-1">
 </div>
      <div class="col-md-7">
        <div class="row" style="margin-top: 50px">
          <app-rosca [doughnutChartData]="masterData" [namex]="masterName" [doughnutChartLabels]="masterLabel" [legenda]="masterLegenda"></app-rosca>
          <app-rosca [doughnutChartData]="miniData" [namex]="miniName" [doughnutChartLabels]="miniLabel" [legenda]="miniLegenda"></app-rosca>
          <app-rosca [doughnutChartData]="miniData1" [namex]="miniName1" [doughnutChartLabels]="miniLabel1" [legenda]="miniLegenda1"></app-rosca>

        </div>
      </div>
  <div class="col-md-4">
    <div id="chart_div"></div>
  </div>
</div>
