<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">

          <div style="text-align:center; margin-top:200px">
            <!-- img [src]="fullImagePath" width="20%" -->
            <h4>
              <b>Visualizar e analisar a quantidade de casos de surto  de uma determinada epidemia, comparar em diferentes escalas temporais a
                incidência de cada doença e a unidade notificadora da doença (bairro), analisar a estatística usando diferentes técnicas de
                visualização, temporal, espacial entre outras, relacionando os valores de uma alteração da quantidade de casos, através do tempo e
                do espaço da doença.</b>
            </h4>

          </div>

          <!-- app-zing></app-zing -->

    </div>
    <div class="col-md-4" style="margin-bottom: 10px">
    </div>
    <div class="col-md-1">
    </div>
    </div>
    <div class="row" style="margin-top: 10px">
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
    <div class="row" style="margin-top: 50px">
    </div>
    <div class="row" style="margin-top: 50px">
    </div>
    </div>
    <div class="col-md-1">
    </div>
    </div>
