<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
       <div class="col-md-2">
       </div>
       <div class="col-md-2">
       </div>
       <div class="col-md-2">
       </div>
   </div>
   <div class="col-md-1">
   </div>
</div>
<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
   </div>
   <div class="col-md-1">
   </div>
</div>

<div class="row clean"></div>

<div class="row">
   <div class="col-md-1">
   </div>
   <div class="col-md-6">
       <div id='treemap' class='treemap'></div>
   </div>
   <div class="col-md-1">
   </div>
</div>
